@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.navbar {
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
}
.navbar-nav {
    color: #fff;
}
.navbar-brand {
    /* color: #fff; */
    font-size: 1.3rem;
    font-weight: 700;
}
.navbar.transparent {
    background-color: transparent !important;
}
.navbar.scrolled {
    background-color: rgba(154, 208, 194, 0.9) !important;
}

.display-4 {
    font-family: "Source Serif Pro", serif;
}

.image {
    margin-top: 0;
    width: 100%;
    height: 102vh;
    object-fit: cover;
}

.col-6.right {
    border-right: 1px solid black;
}

.table-overlay {
    position: relative;
}
.table-overlay table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.car-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 25%;
}
#cars-add-row {
    position: relative;
    margin-bottom: 10rem;
    left: 51%;
    transform: translate(-50%, -50%);
}

.container#cars-table,
.container#orders-table {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-login {
    margin-top: 10vh;
}
.show-edit {
    margin-top: 10vh;
}
.card-img-top {
    height: 40vh;
}
@media screen and (max-width: 500px) {
    #picker-mobile {
    }
}
.picker {
    max-width: 45%;
    height: 40%;
}
.search-btn {
    width: 70vh;
}

.table-transparent {
    background-color: rgba(154, 208, 194, 0.75);
}

.table-transparent thead th {
    background-color: rgba(154, 208, 194, 0.75);
}

.table-transparent tbody td,
.table-transparent tbody th {
    background-color: rgba(
        154,
        208,
        194,
        0.75
    ); /* Adjust the alpha value for transparency */
}
.input-styling {
    background-color: #dddddd;
    outline: none;
}
input[type="datetime-local"] {
    background-color: #dddddd;
}
