@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.navbar {
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
}
.navbar-nav {
    color: #fff;
}
.navbar-brand {
    /* color: #fff; */
    font-size: 1.3rem;
    font-weight: 700;
}
.navbar.transparent {
    background-color: transparent !important;
}
.navbar.scrolled {
    background-color: rgba(154, 208, 194, 0.9) !important;
}

.display-4 {
    font-family: "Source Serif Pro", serif;
}

.image {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.col-6.right {
    border-right: 1px solid black;
}

.table-overlay {
    position: relative;
}
.table-overlay table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
    #picker-mobile {
    }
}
.picker {
    width: 50%;
    height: 40%;
}
.search-btn {
    width: 70vh;
}
